@model QLVTFinal.Models.Material

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết "@Html.DisplayFor(model => model.nameMaterial)"</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.nameMaterial)*@
            Tên vật tư
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameMaterial)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.price)*@
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.count)*@
            Số lượng tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.count)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.nameCategory)*@
            Danh mục cha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameCategory)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SubCategory.nameSubCategory)*@
            Danh mục con
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.nameSubCategory)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.idMaterial }) |
    @Html.ActionLink("Quay lại trang danh sách", "Index")
</p>
